
div.flexrow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
  }
  
  div.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }