<ng-container formGroup="form" class="flexcolumn">
    <section name="Spin" *ngIf="role === 'query'">
        <mat-expansion-panel
          class="mat-elevation-z0"
          displayMode="flat"
          hideToggle="true">
          <mat-expansion-panel-header>Spin:</mat-expansion-panel-header>
        </mat-expansion-panel>
        <div class="flexrow">
          <div>
            <mat-label>Atomic</mat-label>
            <mat-checkbox
              formControlName="atomicBosons"
              checked="true"
              value="1">
              Boson
            </mat-checkbox>
            <mat-checkbox
              formControlName="atomicFermions"
              checked="true"
              value="2">
              Fermion
            </mat-checkbox>
          </div>
          <div>
            <mat-label>Nuclear</mat-label>
            <mat-checkbox
              formControlName="nuclearBosons"
              checked="true"
              value="1">
              Boson
            </mat-checkbox>
            <mat-checkbox
              formControlName="nuclearFermions"
              checked="true"
              value="2">
              Fermion
            </mat-checkbox>
          </div>
        </div>
      </section>
</ng-container>
