  <ng-container *ngIf="form" [formGroup]="form" class="flexcolumn">
    <section [formGroupName]="formGroupName" name="Spin">
        <div><h3>Spin:</h3></div>
        <div class="flexrow">
          <div class="flexcolumn">
            <mat-label>Atomic</mat-label>
            <mat-checkbox formControlName="atomicBosons">Boson</mat-checkbox>
            <mat-checkbox formControlName="atomicFermions">Fermion</mat-checkbox>
          </div>
          <div class="flexcolumn">
            <mat-label>Nuclear</mat-label>
            <mat-checkbox formControlName="nuclearBosons">Boson</mat-checkbox>
            <mat-checkbox formControlName="nuclearFermions">Fermion</mat-checkbox>
          </div>
        </div>
      </section>
  </ng-container>
