  <ng-container *ngIf="form" [formGroup]="form" class="flexcolumn">
    <section [formGroupName]="formGroupName" name="Spin">
        <mat-expansion-panel
          class="mat-elevation-z0"
          displayMode="flat"
          hideToggle="true">
          <mat-expansion-panel-header>Spin:</mat-expansion-panel-header>
        </mat-expansion-panel>
        <div class="flexrow">
          <div class="flexcolumn">
            <mat-label>Atomic</mat-label>
            <mat-checkbox formControlName="atomicBosons">Boson</mat-checkbox>
            <mat-checkbox formControlName="atomicFermions">Fermion</mat-checkbox>
          </div>
          <div class="flexcolumn">
            <mat-label>Nuclear</mat-label>
            <mat-checkbox formControlName="nuclearBosons">Boson</mat-checkbox>
            <mat-checkbox formControlName="nuclearFermions">Fermion</mat-checkbox>
          </div>
        </div>
      </section>
  </ng-container>
