<div class="flexrow">
  <button
    type="button"
    mat-icon-button
    title="Download {{resultType}}"
    (click)="toggleDownload()">
    <mat-icon>download</mat-icon>
  </button>
  <form *ngIf="showForm()" id="download" [formGroup]="downloadForm">
    <div class="flexrow">
      <mat-form-field>
        <label>File type</label>
        <mat-select formControlName="fileType" placeholder="Select a file type.">
          <mat-option
            *ngFor="let option of downloadOptions"
            [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-select>
        <input
          matInput
          class="hidden"
          title="hidden"
          formControlName="dummy" />
      </mat-form-field>
      <mat-form-field>
        <label>File Name</label>
        <input
        matInput
          formControlName="fileName"
          placeholder="Enter a file name."/>
      </mat-form-field>
      <mat-form-field>
        <label>{{fullNameSignal()}}&nbsp;</label>
        <button
          mat-raised-button
          type="button"
          [disabled]="!goodForm()"
          (click)="downloadBlob()">
          Download
        </button>
        <input matInput class="hidden" title="hidden" formControlName="dummy" />
      </mat-form-field>
      <a
        href="x"
        #fileInput
        class="hidden"
        type="file"
        title="hidden"
        download
        (change)="onFileInput($event)"></a>
      <input #filePicker type="file" class="hidden" title="picker" value="" />
    </div>
  </form>
</div>
