<div class="flexrow">
  <button
    type="button"
    mat-icon-button
    title="Download results"
    (click)="showDownload()">
    <mat-icon>download</mat-icon>
  </button>
  <form *ngIf="ready" id="download" [formGroup]="downloadForm">
    <div class="flexrow">
      <mat-form-field [floatLabel]="getFloatLabelValue()">
        <label>Select a file type:</label>
        <mat-select formControlName="fileType">
          <mat-option
            *ngFor="let fileType of fileTypes"
            value="{{fileType.id}}">
            {{ fileType.name }}
          </mat-option>
        </mat-select>
        <input
          matInput
          class="hidden"
          title="hidden"
          formControlName="dummy" />
      </mat-form-field>
      <mat-form-field>
        <label>File Name</label>
        <input
        matInput
          formControlName="fileName"
          placeholder="Choose a file name."/>
      </mat-form-field>
      <mat-form-field>
        <label>{{fileLabel}}&nbsp;</label>
        <button
          mat-raised-button
          type="button"
          [disabled]="!(downloadForm.valid)"
          (click)="downloadBlob()">
          Download
        </button>
        <input matInput class="hidden" title="hidden" formControlName="dummy" />
      </mat-form-field>
      <a
        href="x"
        #fileInput
        class="hidden"
        type="file"
        title="hidden"
        download
        (change)="onFileInput($event)"></a>
      <input #filePicker type="file" class="hidden" title="picker" value="" />
    </div>
  </form>
</div>
