div.wrapper {
    height: 100%;
}

.mdc-card {
    height: 100%;
}

div.prompts {
    align-items: center !important;

    >* {
        margin-left: 1em;
    }
}

div.grid {
    display: grid;
    margin-right: 1em;

    >div {
        justify-content: center;
    }

    >div.label {
        padding-right: 1em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

div.cell1 {
    grid-column: 1;
    grid-row: 1;
}

div.cell2 {
    grid-column: 2;
    grid-row: 1;
}

div.cell3 {
    grid-column: 3;
    grid-row: 1;
}

div.cell4 {
    grid-column: 4;
    grid-row: 1;
}

div.cell5 {
    grid-column: 1;
    grid-row: 2;
}

div.cell6 {
    grid-column: 2;
    grid-row: 2;
}

div.cell7 {
    grid-column: 3;
    grid-row: 2;
}

div.cell8 {
    grid-column: 4;
    grid-row: 2;
}

div.cell9 {
    grid-column: 1;
    grid-row: 3;
}

div.cell10 {
    grid-column: 2 / span 3;
    grid-row: 3;
    mat-form-field {
        width: 60%;
    }
}
div.cell11 {
    grid-column: 1;
    grid-row: 4;
}
div.cell12 {
    grid-column: 2 / span 3;
    grid-row: 4;
    mat-form-field {
        width: 60%;
    }
}div.cell13 {
    grid-column: 1;
    grid-row: 5;
}
div.cell14 {
    grid-column: 2 / span 3;
    grid-row: 5;
    mat-form-field {
        width: 60%;
    }
}
div.cell15 {
    grid-column: 1;
    grid-row: 6;
}
div.cell16 {
    grid-column: 2 / span 3;
    grid-row: 6;
    mat-form-field {
        width: 60%;
    }
}
div.buttoncell {
    grid-column: 4;
    grid-row: 6;
}
div.flexrow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    >div#leftside {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    >div#rightside {
        padding: 1em;
    }

    >hr.splitter {
        display: none;
        /*         cursor: move;
        border: 2px dashed darkgray;
        transform: rotate(90deg); */
    }
}