<mat-expansion-panel expanded="false">
  <mat-expansion-panel-header>
    <p class="header">{{ description }}</p>
  </mat-expansion-panel-header>
  <p>
    To make full use of this and the other database tables, a good grasp of SQL
    is essential.
  </p>
  <p>
    But note that it, TwoToTwo and
    <a routerLink="fusion" href="/fusion">Fusion</a>
    is each dedicated to querying only one of two tables.
  </p>
  <p>
    The "universal" program All Tables can accept full SQL commands that query
    any of the 12 "Parkhomov" tables, together with the "ElementProperties",
    "Nuclides", "RadioNuclides" and "Atomic Radii" tables as well.
  </p>
  <p>
    You may indicate which of the three neutrino conditions to include: "left"
    and/or "none" and/or "right". The default condition is include all three.
  </p>
  <p>
    In all the above tables, except the Periodic, each atom, in either the input
    or the output, as well as its 'A' and 'Z' numbers now also has a 'nBorF'
    ('nuclear Boson or Fermion') and a 'aBorF' ('atomic Boson or Fermion')
    parameter associated with it.
  </p>
  <p>
    An atom's nucleus is considered a Boson ('b') if its A number is even; if
    odd a Fermion ('f'). The atom itself is considered a Boson ('b') if its
    number of neutrons (A - Z) is even; if odd a Fermion ('f').
  </p>
  <p>
    These parameters can be used either passively, by observing the
    distributions of 'b' and 'f' in inputs and/or outputs, and/or actively, by
    selecting 'b only', 'f only' or 'either' in the boxes below.
  </p>
  <p>
    NB: To avoid unnecessary duplication in the Fission tables, A1 is never
    greater than A2 in any row, i.e. A1 <= A2. This also applies implicitly, in
    that, if the ouput side of the Core Query only involves E1 and E2, only rows
    for which their associated mass numbers obey the rule that A1 <= A2 will be
    included in the results
  </p>
  <p>
    To protect the table, only SQL compatible "selection" queries can be allowed
    and you must enter only the CORE part of that query.
  </p>
  <p>
    Once you do this and click on the "Execute Query" button, the front part
    (here "select * from FissionAll where ") will be automatically prepended and
    the full query sent to the database.
  </p>
  <p>
    Latest: All queries will now be limited to 1000 possible rows of results;
    any requested 'limit' greater than 1000 will be reset to 1000; to any core
    query not including any 'limit' command will be appended 'limit 1000'.
  </p>
  <p>
    This Fission Core Query can refer to any and all of E, A, nBorF, Z or aBorF
    (the inputs), and to any and all of E1, A1, nBorF1, Z1, aBorF2, E2, A2,
    nBorF2, Z2 or aBorF2 (the outputs).
  </p>
</mat-expansion-panel>

<form [formGroup]="fissionForm">
  <div class="children mat-elevation-z2">
    <h3 class="start">Select an element below to begin.</h3>
    <div class="nuclides">
      <mfmp-nuclide-picker
        [role]="'query'"
        [title]="'Elements'"
        [multiselect]="false"
        [formGroupName]="'nuclides'"
        [caption]="'Elements'"
        [elementsList]="elements"></mfmp-nuclide-picker>
      <mfmp-nuclide-picker
        [role]="'result'"
        [title]="'Output 1'"
        [multiselect]="false"
        [formGroupName]="'output1'"
        [caption]="'Output 1'"
        [elementsList]="elements"></mfmp-nuclide-picker>
      <mfmp-nuclide-picker
        [role]="'result'"
        [title]="'Output 2'"
        [multiselect]="false"
        [formGroupName]="'output2'"
        [caption]="'Output 2'"
        [elementsList]="elements"></mfmp-nuclide-picker>
    </div>
    <div class="neutrinos">
      <div>
        <p>
          Tick neutrino contributions to be included (default is all three).
        </p>
      </div>
      <div>
        <mat-checkbox formControlName="inputNeutrinos" value="left">
          Left
        </mat-checkbox>
        <mat-checkbox formControlName="noNeutrinos" value="none">
          None
        </mat-checkbox>
        <mat-checkbox formControlName="outputNeutrinos" value="right">
          Right
        </mat-checkbox>
      </div>
    </div>
  </div>
  <mat-card class="coreQuery">
    <mat-card-content>
      <mfmp-expandable-box
        [caption]="'Tables:'"
        [text]="tablesText"></mfmp-expandable-box>
      <div class="sql">
        <div>
          <mat-radio-group
            labelPosition="before"
            formControlName="tableSet"
            name="tableSet"
            value="fissionAll">
            <mat-radio-button value="FissionAll" selected>
              FissionAll
            </mat-radio-button>
            <mat-radio-button value="FissionAllNewPlus">
              FissionAllNewPlus
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
            <mat-form-field
              id="orderBy"
              formControlName="orderBy"
              value="orderBy"
              ngDefaultControl>
              <mat-label>Order By:</mat-label>
              <mat-select title="Order by" formControlName="orderBy">
                <mat-option *ngFor="let f of sortFields" [value]="f.code">
                  {{ f.code }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <div>
            <mat-checkbox
              title="when checked."
              formControlName="sortDescending">
              Descending
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="flexrow" [formGroup]="sqlForm">
        <div class="fullQuery" >
          <mat-label>Full Query</mat-label>
          <textarea
            matInput
            formControlName="fullQuery"
            title="'full query'"
            value="fullQuery"
            rows="4"></textarea>
        </div>
        <div class="coreQuery">
          <mat-label>Core Query</mat-label>
          <textarea
            matInput
            formControlName="coreQuery"
            title="'core query'"
            value="coreQuery"
            rows="4"></textarea>
        </div>
        <mfmp-resultsize-picker
          [defaultLimit]="1000"
          [minimum]="0"
          [maximum]="1000"
          [step]="50"
          [limitVerbiage]="'Limit results to ... rows.'"
          (limitSize)="setResultLimit($event)"></mfmp-resultsize-picker>
        <mfmp-mev-picker
          [defaultLimit]="10"
          [minimum]="0"
          [maximum]="100"
          [step]="0.1"
          [limitVerbiage]="'Limit to MeV greater then ...'"
          (mevLimit)="setMevLimit($event)"></mfmp-mev-picker>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        type="button"
        mat-raised-button
        (click)="resetForm(); resetResults()">
        RESET
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        tooltip="(submittable)? '' : 'Select an element to continue.'"
        [disabled]="!submittable"
        (click)="buildRequestForm()">
        SUBMIT
      </button>
    </mat-card-actions>
  </mat-card>
</form>
