.tbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
.split-row {
  display: flex;
  :last-child {
    flex: stretch;
    align-items:  center;
  }*/

  .acknowledgements {
    font-size: 10pt;
    font-weight: 300;
  }
