<mat-toolbar class="mat-elevation-z4 tbar" color="primary">
  <mat-toolbar-row class="split-row">
    <div>Conceived by R. W. Greenyer and coded by P. W. Power for the Martin Fleischmann Memorial Project</div>
    <div>Version {{this.version}}, Sep 28, 2019</div>
  </mat-toolbar-row>
  <mat-toolbar-row class="split-row">
    <span>Data provided by Dr. Alexander Parkhomov</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-nav-list>
      <a mat-list-item routerLink="intro">Introduction
      </a>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>
