<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <p class="header">{{ pageDescription | async }}</p>
  </mat-expansion-panel-header>

  <mat-card>
    <mat-card-content>
      <p class="aleft">
        To make full use of this and the other database tables, a good grasp of
        SQL is essential.
      </p>
      <p class="aleft">
        But note that it,
        <a href="http://www.nanosoft.co.nz/TwoToTwo.php">TwoToTwo</a> and
        <a href="http://www.nanosoft.co.nz/Fission.php">Fission</a> is each
        dedicated to querying only one of two tables.
      </p>
      <p>
        The "universal" program
        <a href="http://www.nanosoft.co.nz/AllTables.php">All Tables</a> can
        accept full SQL commands that query any of the 12 "Parkhomov" tables,
        together with the "ElementProperties", "Nuclides", "RadioNuclides" and
        "Atomic Radii" tables as well.
      </p>
      <p>
        You may indicate which of the three neutrino conditions to include:
        "left" and/or "none" and/or "right". The default condition is include
        all three.
      </p>
      <p>
        In all the above tables, except the Periodic, each atom, in either the
        input or the output, as well as its 'A' and 'Z' numbers now also has a
        'nBorF' ('nuclear Boson or Fermion') and a 'aBorF' ('atomic Boson or
        Fermion') parameter associated with it.
      </p>
      <p>
        An atom's nucleus is considered a Boson ('b') if its A number is even;
        if odd a Fermion ('f'). The atom itself is considered a Boson ('b') if
        its number of neutrons (A - Z) is even; if odd a Fermion ('f').
      </p>
      <p>
        These parameters can be used either passively, by observing the
        distributions of 'b' and 'f' in inputs and/or outputs, and/or actively,
        by selecting 'b only', 'f only' or 'either' in the boxes below.
      </p>
      <p class="aleft">
        NB: To avoid unnecessary duplication in all Fusion tables, A1 is never
        greater than A2 in any row, i.e. A1 <= A2. This also applies implicitly
        in that, if the input side of the Core Query only involves E1 and E2,
        only rows whose associated mass numbers obey A1 <=A2 will appear in the
        results
      </p>

      <p class="aleft">
        To protect the table, only SQL compatible "selection" queries can be
        allowed and you must enter only the CORE part of that query.
      </p>
      <p>
        Once you do this and click on the "Execute Query" button, the front part
        (here "select * from FusionAll where ") will be automatically prepended
        and the full query sent to the database.
      </p>
      <p class="aleft">
        Latest: All queries will now be limited to 1000 possible rows of
        results; any requested 'limit' greater than 1000 will be reset to 1000;
        to any core query not including any 'limit' command will be appended
        'limit 1000'.
      </p>
      <p class="aleft">
        This Fusion Core Query can refer to any and all of E1, A1, nBorF1, Z1,
        aBorF1, E2, A2, nBorF2, Z2 or aBorF2 (the inputs) and to any and all of
        E, A, nBorF, Z or aBorF (the output).
      </p>
    </mat-card-content>
  </mat-card>
</mat-expansion-panel>
<mat-card>
  <mat-card-header>
</mat-card-header>
  <mat-card-content>
    <mfmp-particle-picker></mfmp-particle-picker>
        <h6 class="acenter">
      Enter your Core Query below: (but clear any initial, place-holding or old
      one first)
    </h6>
    <form id="f" action="https://www.nanosoft.co.nz/Fusion.php" method="post">
      <input type="hidden" name="doit" value="execute_query" readonly />
      <h6 class="acenter">
        <input
          type="text"
          title="Query"
          placeholder="E1 in ('O') and E2 in ('O' ) order by MeV desc limit 100"
          name="query"
          size="100"
          value="E1 in ('O') and E2 in ('O' ) order by MeV desc limit 100"
        />
      </h6>
      <h6 class="acenter">
        Select Fusion data table from 'FusionAll' (original: MeV > 0.0; 3,921
        rows; based on the 'Nuclides' table, 293 nuclides), or<br />FusionAllNewPlus
        (MeV = +/- any, 8026 rows; based on the 'NuclidesPlus' table, 324
        nuclides)
      </h6>
      <h6 class="acenter">
        <input
          title="fusion table"
          placeholder=""
          type="radio"
          id="table_name"
          name="table_name"
          value="FusionAll"
          checked="checked"
        />
        FusionAll
        <input
          title="fusionall table"
          placeholder="fusionallnew table"
          type="radio"
          name="table_name"
          value="FusionAllNewPlus"
        />FusionAllNewPlus
      </h6>
      <h6 class="acenter">
        Tick neutrino (nu) contributions to be included (default is all three).
      </h6>
      <h6 class="acenter">
        <input
          type="checkbox"
          title="Left-side Neutrino interactions"
          name="sql_tables[]"
          value="left"
        />
        nu on left (with input)&nbsp;&nbsp;&nbsp;&nbsp;<input
          type="checkbox"
          title="No neutrino interactioins"
          name="sql_tables[]"
          value="none"
          checked="checked"
        />
        none: nu absent &nbsp;&nbsp;&nbsp;&nbsp;<input
          type="checkbox"
          title="Right-side neutrino interactions"
          name="sql_tables[]"
          value="right"
        />nu on right (with output)&nbsp;&nbsp;&nbsp;&nbsp;
      </h6>
      <h6 class="acenter">
        Filtering by Nuclear/Atomic Bosons/Fermions: For no filtering, select
        'either'
      </h6>
      <h6 class="acenter">
        <span class="">Element One Nuclear spin</span>
        <select title="E1Nbf" id="nBorF1_filter" name="nBorF1_filter">
          <option value="b">b only</option>
          <option value="f">f only</option>
          <option value="bf" selected="selected">either</option>
        </select>
        <span class="">Element One Atomic spin </span>
        <select title="E1Abf" id="aBorF1_filter" name="aBorF1_filter">
          <option value="b">b only</option>
          <option value="f">f only</option>
          <option value="bf" selected="selected">either</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="">Element Two Nuclear Spin</span>
        <select title="E2Nbf" id="nBorF2_filter" name="nBorF2_filter">
          <option value="b">b only</option>
          <option value="f">f only</option>
          <option value="bf" selected="selected">either</option>
        </select>
        <span class="">Element Two Atomic Spin </span>
        <select title="E2Abf" id="aBorF2_filter" name="aBorF2_filter">
          <option value="b">b only</option>
          <option value="f">f only</option>
          <option value="bf" selected="selected">either</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="">Output Nuclear Spin </span>
        <select title="FNbf" id="nBorF_filter" name="nBorF_filter">
          <option value="b">b only</option>
          <option value="f">f only</option>
          <option value="bf" selected="selected">either</option>
        </select>
        <span class="">Output Atomic Spin </span>
        <select title="FAbf" id="aBorF_filter" name="aBorF_filter">
          <option value="b">b only</option>
          <option value="f">f only</option>
          <option value="bf" selected="selected">either</option>
        </select>
      </h6>
      <h6 class="acenter">
        <button type="button" name="btnXEQ" (click)="execute_query()">
          Execute Query
        </button>
        <!--
          <input matInput type="submit" value="Submit" name="submit" (click)="execute_query()">
        -->
      </h6>
    </form>
  </mat-card-content>
</mat-card>
