<mat-card *ngIf="fusionResults.length == 0">
  <mat-card-content>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <p class="header">{{ description }}</p>
      </mat-expansion-panel-header>
      <p class="aleft">
        To make full use of this and the other database tables, a good grasp of
        SQL is essential.
      </p>
      <p class="aleft">
        But note that it,
        <a href="http://www.nanosoft.co.nz/TwoToTwo.php">TwoToTwo</a>
        and
        <a href="http://www.nanosoft.co.nz/Fission.php">Fission</a>
        is each dedicated to querying only one of two tables.
      </p>
      <p>
        The "universal" program
        <a href="http://www.nanosoft.co.nz/AllTables.php">All Tables</a>
        can accept full SQL commands that query any of the 12 "Parkhomov"
        tables, together with the "ElementProperties", "Nuclides",
        "RadioNuclides" and "Atomic Radii" tables as well.
      </p>

      <p>
        An atom's nucleus is considered a Boson ('b') if its A number is even;
        if odd a Fermion ('f'). The atom itself is considered a Boson ('b') if
        its number of neutrons (A - Z) is even; if odd a Fermion ('f').
      </p>
      <p>
        These parameters can be used either passively, by observing the
        distributions of 'b' and 'f' in inputs and/or outputs, and/or actively,
        by selecting 'b only', 'f only' or 'either' in the boxes below.
      </p>
      <p class="aleft">
        NB: To avoid unnecessary duplication in all Fusion tables, A1 is never
        greater than A2 in any row, i.e. A1 &le; A2. This also applies
        implicitly in that, if the input side of the Core Query only involves E1
        and E2, only rows whose associated mass numbers obey A1 &le; A2 will
        appear in the results
      </p>

      <p class="aleft">
        To protect the table, only SQL compatible "selection" queries can be
        allowed and you must enter only the CORE part of that query.
      </p>
      <p>
        Once you do this and click on the "Execute Query" button, the front part
        (here "select * from FusionAll where ") will be automatically prepended
        and the full query sent to the database.
      </p>
      <p class="aleft">
        Latest: All queries will now be limited to 1000 possible rows of
        results; any requested 'limit' greater than 1000 will be reset to 1000;
        to any core query not including any 'limit' command will be appended
        'limit 1000'.
      </p>
      <p>
        In all the above tables, except the Periodic, each atom, in either the
        input or the output, as well as its 'A' and 'Z' numbers now also has a
        'nBorF' ('nuclear Boson or Fermion') and a 'aBorF' ('atomic Boson or
        Fermion') parameter associated with it.
      </p>

      <p>
        An atom's nucleus is considered a Boson ('b') if its A number is even;
        if odd a Fermion ('f'). The atom itself is considered a Boson ('b') if
        its number of neutrons (A - Z) is even; if odd a Fermion ('f').
      </p>

      <p>
        These parameters can be used either passively, by observing the
        distributions of 'b' and 'f' in inputs and/or outputs, and/or actively,
        by selecting 'b only', 'f only' or 'either' in the boxes below.
      </p>
      <p>
        You may indicate which of the three neutrino conditions to include:
        "left" and/or "none" and/or "right". The default condition is include
        all three.
      </p>
      <p>
        NB: To avoid unnecessary duplication in all Fusion tables, A1 is never
        greater than A2 in any row, i.e. A1 &le; A2. This also applies
        implicitly in that, if the input side of the Core Query only involves E1
        and E2, only rows whose associated mass numbers obey A1 &le; A2 will
        appear in the results
      </p>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>


  <mat-card *ngIf="fusionResults.length == 0">
    <mat-card-content>
      <form [formGroup]="fusionForm">
              <h3>Nuclides</h3>
      <div class="children">
        <div class="nuclides mat-elevation-z2">
          <mfmp-nuclide-picker
            [role]="'query'"
            [title]="'Left side (E1)'"
            [formGroupName]="'leftNuclides'"
            [form]="fusionForm"
            [caption]="'Left'"
            [elements]="elements"></mfmp-nuclide-picker>
          <div class="vl"></div>
          <mfmp-nuclide-picker
            [role]="'query'"
            [title]="'Right side (E2)'"
            [formGroupName]="'rightNuclides'"
            [form]="fusionForm"
            [caption]="'Right'"
            [elements]="elements"></mfmp-nuclide-picker>
          <div class="vl"></div>
          <mfmp-nuclide-picker
            [role]="'result'"
            [title]="'Results'"
            [formGroupName]="'resultNuclides'"
            [form]="fusionForm"
            [caption]="'Result'"
            [elements]="elements"></mfmp-nuclide-picker>
        </div>
        <div class="neutrinos mat-elevation-z2">
          <div>
            <p>
              Tick neutrino (nu) contributions to be included (default is all
              three).
            </p>
          </div>
          <div>
            <mat-checkbox formControlName="inputNeutrinos" value="left">
              Left
            </mat-checkbox>
            <mat-checkbox formControlName="noNeutrinos" value="none">
              None
            </mat-checkbox>
            <mat-checkbox formControlName="outputNeutrinos" value="right">
              Right
            </mat-checkbox>
          </div>
        </div>
      </div>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>Tables</mat-expansion-panel-header>
        <p>
          Select Fusion data table from 'FusionAll' (original: MeV > 0.0; 3,921
          rows; based on the 'Nuclides' table, 293 nuclides), or
          FusionAllNewPlus (MeV = +/- any, 8026 rows; based on the
          'NuclidesPlus' table, 324 nuclides)
        </p>
        <div class="sql">
          <div>
            <mat-radio-group
              labelPosition="before"
              formControlName="tableSet"
              name="tableSet"
              value="FusionAll">
              <mat-radio-button value="FusionAll" selected>
                FusionAll
              </mat-radio-button>
              <mat-radio-button value="FusionAllNewPlus">
                FusionAllNewPlus
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <mat-form-field
              id="orderBy"
              formControlName="orderBy"
              value="orderBy"
              ngDefaultControl>
              <mat-label>Order By:</mat-label>
              <mat-select title="Order by" formControlName="orderBy">
                <mat-option *ngFor="let f of sortFields" [value]="f.code">
                  {{ f.code }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <form-field formControlName="sortDescending" ngDefaultControl>
              <mat-checkbox
                title="when checked."
                formControlName="sortDescending">
                Descending
              </mat-checkbox>
            </form-field>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-card class="coreQuery">
        <mat-card-content>
          <div class="flexrow">
            <div class="coreQuery">
              <mat-label>Core Query</mat-label>
              <textarea
                matInput
                formControlName="coreQuery"
                title="'core query'"
                value="coreQuery"
                rows="4"></textarea>
            </div>
            <div>
              <div class="resultLimitHeader">
                <span>
                  Limit results to
                  {{ fusionForm.get('resultLimit')?.value }} rows.
                </span>
                <span>Use the slider below to change the result limit.</span>
              </div>
              <div class="resultLimit">
                <form-field formControlName="resultLimit" ngDefaultControl>
                  <mat-slider
                    [min]="0"
                    [max]="1000"
                    [step]="50"
                    showTickMarks="true"
                    discrete>
                    <input
                      placeholder="thumb"
                      matSliderThumb
                      [value]="getResultLimit()" />
                  </mat-slider>
                </form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        type="button"
        mat-raised-button
        (click)="resetForm(); resetResults()">
        RESET
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        tooltip="(submittable) ? '' : 'Select elements to continue.'"
        [disabled]="fusionForm.pristine || !fusionForm.valid"
        (click)="build_request_form()">
        SUBMIT
      </button>
    </mat-card-actions>
  </mat-card>

<mfmp-query-wrapper
  *ngIf="fusionResults.length > 0"
  [coreQuery]="coreQuery"
  [sortBy]="sortBy"
  [sortOrder]="sortOrder"></mfmp-query-wrapper>
