.mat-mdc-card, .mat-mdc-card-content {
  height: 100%;
}

.mat-expansion-panel-header.mat-expanded {
    // background-color: rgba(250, 250, 250, .5);
    background-color: transparent;
  }
  
  .mat-expansion-panel-header.mat-expanded:hover {
    // background-color: rgba(250, 250, 250, .5);
    background-color: transparent;
  }
  
  .mat-card-content {
    width: 100%;
  }
  
  mat-expansion-panel#blurb {
    margin-bottom: 1ex;
  }
  
  h3.start {
    margin-top: 2ex;
    width: 100%;
    font-weight: 500;
    text-align: center;
  }
  
  div.children {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  
    div.nuclides {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-evenly;
      margin-bottom: 1ex;
  
      div.elements {
        display: flex;
        flex-direction: row;
        align-items: center;
  
        div.join {
          margin: 1em 1em;
        }
      }
    }
  }
  
  div.neutrinos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1ex;
  }
  
  div.sql {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    :last-child {
      display: flex;
      flex-direction: row;
    }
  }
  
  div.fullQuery {
    display: none;
  }
  
  div.coreQuery {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  
    :first-child {
      display: block;
      flex: 1;
    }
  
    :last-child {
      display: block;
      flex: 3;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 1px #999;
    }
  }
  
  mat-form-field#orderBy {
    flex-direction: row !important;
  }
  
  span.resultLimitHeader {
    display: flex;
    flex-direction: row;
  
    span {
      display: inline-block;
      flex: 1;
      font-size: smaller;
    }
  }
  
  div.flexrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: baseline;
    :nth-child(2) {
      flex: 3;
    }
  }
  
  .fill {
    margin: 1em;
  }
  
  div.resultLimit {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  
    mat-slider {
      width: 30%;
    }
  }
  
  p.header {
    text-overflow: ellipsis;
    padding-right: 2em;
  }