<mat-card class="wrapper">
  <mat-card-content>
    <form [formGroup]="f">
      <mat-form-field>
        <label>Select Element:</label>
        <mat-select title="Elements" formControlName="ZKEY">
          <mat-option
            *ngFor="let element of elementList; index as i; first as isfirst"
            [value]="element.Z"
            (onSelectionChange)="postChange($event)">
            {{ element.Z }} {{ element.E }} {{ element.EName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <ng-container
      *ngIf="ready === true; then readyTemplate; else notReady"></ng-container>
    <ng-template #readyTemplate>
      <ng-container
        *ngIf="elements; then elementsTemplate; else noelements"></ng-container>
      <ng-template #elementsTemplate>
        <h4>From ElementPropertiesPlus Table</h4>
        <mfmp-query-head
          [resultType]="'elements'"
          [inputResults]="elements"
          [paginate]="false"></mfmp-query-head>
      </ng-template>
      <ng-template #noelements></ng-template>

      <ng-container
        *ngIf="
          rows(nuclides) > 0;
          then nuclidesTemplate;
          else nonuclides
        "></ng-container>
      <ng-template #nuclidesTemplate>
        <h4>From NuclidesPlus Table ({{ rows(nuclides) }}):</h4>
        <mfmp-query-head
          [resultType]="'nuclides'"
          [inputResults]="nuclides"
          [paginate]="false"></mfmp-query-head>
      </ng-template>
      <ng-template #nonuclides>
        <h4>From NuclidesPlus Table (0)</h4>
      </ng-template>

      <ng-container
        *ngIf="
          radioNuclides;
          then radioNuclidesTemplate;
          else noRadioNuclides
        "></ng-container>
      <ng-template #radioNuclidesTemplate>
        <h4>From RadioNuclidesPlus Table ({{ rows(radioNuclides) }}):</h4>
        <mfmp-query-head
          [resultType]="'radionuclides'"
          [inputResults]="radioNuclides"
          [paginate]="false"></mfmp-query-head>
      </ng-template>
      <ng-template #noRadioNuclides></ng-template>
    </ng-template>
    <ng-template #notReady></ng-template>
  </mat-card-content>
</mat-card>
