<mat-nav-list>
    <a mat-list-item routerLink="intro">Introduction</a>
    <a mat-list-item routerLink="fusion">Fusion Reactions</a>
    <a mat-list-item routerLink="fission">Fission Reactions</a>
    <a mat-list-item routerLink="two-up">Two to Two Reactions</a>
    <a mat-list-item routerLink="alltables">All Tables</a>
    <a mat-list-item routerLink="cascadesall">Cascades All</a>
    <a mat-list-item routerLink="cascades4">Cascades 4</a>
    <a mat-list-item routerLink="cascades5lite">Cascades 5 Lite</a>
    <a mat-list-item routerLink="cascades5">Cascades 5</a>
    <a mat-list-item routerLink="listresults">All Results</a>
    <a mat-list-item routerLink="showelementdata">Show Element Data</a>
    <a mat-list-item routerLink="tablesindetail">Tables in Detail</a>
    <a mat-list-item routerLink="downloads">Downloads</a>
    <a mat-list-item routerLink="notes">Notes</a>
    <a mat-list-item href="https://www.nanosoft.co.nz/TheNanosoftPackage.pdf" target="_blank"
        rel="noopener noreferrer">Overview</a>
    <a mat-list-item routerLink="lenr-events">Select LENR Events</a>
    <!-- <a mat-list-item routerLink="testpage">Test Page</a> -->
</mat-nav-list>