a:link,
a:visited {
  text-decoration: none;
  color: initial;
}

.mat-mdc-list-item {
  height: 2em !important;
}

div.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
}

.hidden {
  display: none;
}