a:link {
  text-decoration: none;
}

.mdc-list-item {
  height: 2em !important;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.hidden {
  display: none;
}