.mdc-data-table__row {
  height: auto;
}
.mat-column-number {
    text-align: right;
    justify-content: flex-end;
    border-right: 1px solid lightgray;
  }
  .mat-column-text {
    text-align: left;
    border-right: 1px solid lightgray;
  }
  div.block {
    vertical-align:middle;
  }
div.table-wrapper {
  width: 100%;
  overflow-x: scroll;
}