<mat-card>
    <mat-card-header><p>{{ coreQuery }}</p></mat-card-header>
    <mat-tab-group mat-stretch-tabs="false" animationDuration="250ms">
      <mat-tab label="Results ({{ fusionRows - 1 }})">
        <ng-container
          *ngIf="fusionResults; then fusionYes; else fusionNo"></ng-container>
        <ng-template #fusionYes>
          <mfmp-query-results
          [resultType]="'results'"
            [inputResults]="fusionResults | async"
            [sortBy]="sortBy"
            [sortOrder]="sortOrder"></mfmp-query-results>
        </ng-template>
        <ng-template #fusionNo>
          <h3>No results found</h3>
        </ng-template>
      </mat-tab>
      <mat-tab label="Nuclides ({{ nuclideRows - 1 }})">
        <ng-container
          *ngIf="
            nuclideResults;
            then nuclidesYes;
            else nuclidesNo
          "></ng-container>
        <ng-template #nuclidesNo>
          <h3>No results found</h3>
        </ng-template>
        <ng-template #nuclidesYes>
          <mfmp-query-results
          [resultType]="'nuclides'"
            [inputResults]="nuclideResults | async"
            [sortBy]="''"
            [sortOrder]="''"></mfmp-query-results>
        </ng-template>
      </mat-tab>
      <mat-tab label="ELements ({{ elementRows - 1 }})">
        <ng-container
          *ngIf="
            elementResults;
            then elementsYes;
            else elementsNo
          "></ng-container>
        <ng-template #elementsNo>
          <h3>No results found</h3>
        </ng-template>
        <ng-template #elementsYes>
          <mfmp-query-results
          [resultType]="'elements'"
            [inputResults]="elementResults | async"
            [sortBy]="''"
            [sortOrder]="''"></mfmp-query-results>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <mat-card-actions align="end">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="reset()">
        Again?
      </button>
    </mat-card-actions>
  </mat-card>