<mat-card [formGroup]="nuclideForm" class="flexcolumn">
  <section class="margins" formGroupName="{{ formGroupName }}">
    <section [className]="'elements'">
      <ng-container [ngSwitch]="flavor()">
          <mat-form-field *ngSwitchCase="0"
            formControlName="selectedElements"
            appearance="fill"
            subscriptSizing="dynamic"
            ngDefaultControl>
            <label>{{ title }}</label>
            <mat-select
              #matElements
              formControlName="selectedElements"
              multiple
              title="select elements"
              [placeholder]="'click here to begin.'">
              <div>
                <mat-option
                  *ngFor="let element of elementsList"
                  [value]="element.E">
                  {{ this.elementOptionValue(element) }}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="1"
            formControlName="selectedElements"
            appearance="fill"
            subscriptSizing="dynamic"
            ngDefaultControl>
            <label>{{ title }}</label>

            <mat-select
              #matElements
              formControlName="selectedElements"
              multiple
              title="select elements"
              [placeholder]="'selected elements.'">
              <div>
                <mat-option
                  [disabled]
                  *ngFor="let element of elementsList"
                  [value]="element.E">
                  {{ this.elementOptionValue(element) }}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="2"
            formControlName="selectedElements"
            appearance="fill"
            subscriptSizing="dynamic"
            ngDefaultControl>
            <label>{{ title }}</label>

            <mat-select
              #matElements
              formControlName="selectedElements"
              title="select elements"
              [placeholder]="'click here to begin.'">
              <div>
                <mat-option
                  *ngFor="let element of elementsList"
                  [value]="element.E">
                  {{ this.elementOptionValue(element) }}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="3"
            formControlName="selectedElements"
            appearance="fill"
            subscriptSizing="dynamic"
            ngDefaultControl>
            <label>{{ title }}</label>
            <input type="text" matInput readonly style="visibility: hidden">
          </mat-form-field>
        <div *ngSwitchDefault>No match found</div>
      </ng-container>
    </section>
    <section class="spin">
      <h3>Spin:</h3>
      <div class="flexrow">
        <div class="flexcolumn">
          <mat-label>Atomic</mat-label>
          <mat-radio-group
            class="spinbutton"
            formControlName="atomicSpin"
            defaultTabIndex="2"
            value="bf">
            <mat-radio-button value="b">Boson</mat-radio-button>
            <mat-radio-button value="f">Fermion</mat-radio-button>
            <mat-radio-button value="bf">Either</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="flexcolumn">
          <mat-label>Nuclear</mat-label>
          <mat-radio-group
            class="spinbutton"
            formControlName="nuclearSpin"
            value="bf">
            <mat-radio-button value="b">Boson</mat-radio-button>
            <mat-radio-button value="f">Fermion</mat-radio-button>
            <mat-radio-button value="bf">Either</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </section>
  </section>
</mat-card>
