.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mat-sidenav-container {
    bottom: 0px;
    width: 100%;
    min-width: 100%;
    display: flex;
    z-index: 0;
 }
 .mat-sidenav {
     bottom: 0px;
 }
 .mat-sidenav-content {
     height: calc(100vh - 60px);
     padding: 1em;
 }