
 mat-sidenav-container.mat-drawer-container {
    overflow: auto;
  }
 .mat-drawer-container,
 .mat-drawer-content {
   height: auto;
   // padding: 1em;
 }
 .mat-sidenav-content {
   padding: 1em;
 }