@if (ready()) {
<mat-form-field>
  <input
    #input
    matInput
    type="number"
    placeholder="{{ label }}"
    formControlName="{{ controlKey }}"
    min="min"
    max="max"
    step="{{ step }}"
    [required]="true" />
  @if(customControl.errors) { @if(customControl.hasError('required') &&
  customControl.touched) {
  <mat-error>{{ numericErrorMessages['required'] }}</mat-error>
  } @if (customControl.hasError('pattern')) {
  <mat-error>{{ numericErrorMessages['pattern'] }}</mat-error>
  } @if(customControl.hasError('min')) {
  <mat-error>{{ numericErrorMessages['min'] }}</mat-error>
  } @if(customControl.hasError('max')) {
  <mat-error>{{ numericErrorMessages['max'] }}</mat-error>
  } }
</mat-form-field>
}
