@if(ready()) {
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>{{ label }}</mat-label>
    <input
      #input
      matInput
      type="number"
      formControlName="{{ controlKey }}"
      min="min"
      max="max"
      step="step"
      value="value"
      placeholder="{{ placeholder }}" />

    @if(customControl.errors && customControl.touched) {
    @if(customControl.hasError('required')) {
    <mat-error>{{ errorMessages['required'] }}</mat-error>
    } @if (customControl.hasError('pattern')) {
    <mat-error>{{ errorMessages['pattern'] }}</mat-error>
    } @if(customControl.hasError('min')) {
    <mat-error>{{ errorMessages['min'] }}</mat-error>
    } @if(customControl.hasError('max')) {
    <mat-error>{{ errorMessages['max'] }}</mat-error>
    } }
  </mat-form-field>
}
