div.numeric-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.inactive {
    display: none;
}
div.active {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mat-mdc-form-field-error {
    font-size: 12pt !important;
}