<mat-card>
  <mat-card-header>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <h4 class="acenter">
          CascadesAll: Uses the FusionAll and TwoToTwoAll supertables subject to
          neutrino settings...
        </h4>
      </mat-expansion-panel-header>
      <h4 class="aceenter">
        Lists all energetically favourable reactions that cascade from both the
        input and the output nuclei from one or more reactions defined by the
        Core (starting) Query.
      </h4>
      <h4 class="acenter">
        To conserve server resources, it will still SAVE all your results on the
        file but only DISPLAY a summary
      </h4>
      <div class="hint">
        <span>
          Hint: hover over text highlighted with this icon
          <mat-icon [inline]="true" color="primary">info</mat-icon>
          to reveal more infomation.
        </span>
      </div>
    </mat-expansion-panel>
  </mat-card-header>
  <mat-card-content>
    @if (ready()) {
    <form [formGroup]="cascadesForm">
      <input type="hidden" name="doit" value="execute_query" readonly />
      <div class="grid">
        <!-- Max. nuclei-->
        <div class="flexrow end">
          <div>
            Maximum number of nuclei to be tried in all pairings as inputs to
            both the Fusion and the TwoToTwo reaction tables:
          </div>
          <mat-form-field>
            <mat-label>Max. Nuclei</mat-label>
            <input
              matInput
              formControlName="maxNuclei"
              placeholder="99..."
              required
              type="number"
              min="1"
              step="1"
              [pattern]="integerPattern" />
            @if( maxNuclei?.errors) {
            <ng-container
              *ngTemplateOutlet="
                controlErrors;
                context: { $implicit: maxNuclei?.errors }
              "></ng-container>
            }
          </mat-form-field>
        </div>
        <!-- Max. loops-->
        <div class="flexrow end">
          <div>
            Maximum number of loops to be used in the recursion process (too
            many will produce runaway):
          </div>

          <mat-form-field>
            <mat-label>Max. loops</mat-label>
            <input
              matInput
              formControlName="maxLoops"
              placeholder="99..."
              required
              type="number"
              min="1"
              max="100"
              step="1"
              value="3"
              [pattern]="integerPattern" />
            @if( maxLoops?.errors) {
            <ng-container
              *ngTemplateOutlet="
                controlErrors;
                context: { $implicit: maxLoops?.errors }
              "></ng-container>
            }
          </mat-form-field>
        </div>
        <!-- Max. reactor temperature -->
        <div class="flexrow end">
          <div>Maximum Reactor Temperature (Kelvin):</div>
          <mat-form-field>
            <mat-label>Max. Reactor Temp.</mat-label>
            <input
              matInput
              formControlName="maxReactorTemp"
              placeholder="99..."
              required
              type="number"
              min="1"
              step="1"
              [pattern]="integerPattern" />
            @if( maxReactorTemp?.errors) {
            <ng-container
              *ngTemplateOutlet="
                controlErrors;
                context: { $implicit: maxReactorTemp?.errors }
              "></ng-container>
            }
          </mat-form-field>
        </div>
        <!-- Half life threshold-->
        <div class="flexrow end">
          <div>
            LHL [Log10(Half Life in Years)] Threshold, below which nuclides will
            count as a Radioactive Isotopes:
          </div>
          <mat-form-field>
            <mat-label>Half-life Threshold</mat-label>
            <input
              matInput
              formControlName="halfLifeThreshold"
              placeholder="99..."
              required
              type="number"
              min="1"
              step="1"
              max="18"
              [pattern]="decimalPattern" />
            @if( halfLifeThreshold?.errors) {
            <ng-container
              *ngTemplateOutlet="
                controlErrors;
                context: { $implicit: halfLifeThreshold?.errors }
              "></ng-container>
            }
          </mat-form-field>
        </div>
        <!-- Min. fusion energy -->

        <div class="flexrow end">
          <div>Minimum energy (MeV) for any Fusion reaction to be counted:</div>
          <mat-form-field>
            <mat-label>Min. Fusion enery</mat-label>
            <input
              matInput
              formControlName="fusionMinEnergy"
              placeholder="99..."
              required
              type="number"
              [pattern]="decimalPattern" />
            @if( fusionMinEnergy?.errors) {
            <ng-container
              *ngTemplateOutlet="
                controlErrors;
                context: { $implicit: fusionMinEnergy?.errors }
              "></ng-container>
            }
          </mat-form-field>
        </div>
        <div class="flexrow end">
          <div>
            Minimum energy (MeV) for any TwoToTwo (2-2) reaction to be counted:
          </div>
          <mat-form-field>
            <mat-label>Min. (2-2) enery</mat-label>
            <input
              matInput
              formControlName="twoUpMinEnergy"
              placeholder="99..."
              required
              type="number"
              [pattern]="decimalPattern" />
            @if( twoUpMinEnergy?.errors) {
            <ng-container
              *ngTemplateOutlet="
                controlErrors;
                context: { $implicit: twoUpMinEnergy?.errors }
              "></ng-container>
            }
          </mat-form-field>
        </div>
        <!--
        <div class="flexrow end">
          <div>
            <label>
              Elements that will NOT have MELTED before reaching the Maximum
              Reactor Temperature:
            </label>
          </div>
          <mfmp-feedback-options
            [parentForm]="cascadesForm"
            [feedbackOptions]="feedbackOptions | async"
            [controlName]="'meltingSwitch'"
            [selected]="meltingSwitch"
            (feedback)="handleFeedback($event)"></mfmp-feedback-options>
        </div>
        <div class="flexrow end">
          <div>
            Elements that WILL have BOILED before reaching the Maximum Reactor
            Temperature:
          </div>
          <mfmp-feedback-options
            [parentForm]="cascadesForm"
            [feedbackOptions]="feedbackOptions | async"
            [controlName]="'boilingSwitch'"
            [selected]="boilingSwitch"
            (feedback)="handleFeedback($event)"></mfmp-feedback-options>
        </div>
        <div class="flexrow end">
          <div>Radioactive Isotopes:</div>
          <mfmp-feedback-options
            [parentForm]="cascadesForm"
            [feedbackOptions]="feedbackOptions | async"
            [controlName]="'isotopeSwitch'"
            [selected]="isotopeSwitch"
            (feedback)="handleFeedback($event)"></mfmp-feedback-options>
        </div>

        <div class="flexrow end">
          <div>Nuclear Fermions</div>
          <mfmp-feedback-options
            [parentForm]="cascadesForm"
            [feedbackOptions]="feedbackOptions | async"
            [controlName]="'nuclearFermionSwitch'"
            [selected]="nuclearFermionSwitch"
            (feedback)="handleFeedback($event)"></mfmp-feedback-options>
        </div>
        <div class="flexrow end">
          <div>Atomic Fermions</div>
          <mfmp-feedback-options
            [parentForm]="cascadesForm"
            [feedbackOptions]="feedbackOptions | async"
            [controlName]="'atomicFermionSwitch'"
            [selected]="atomicFermionSwitch"
            (feedback)="handleFeedback($event)"></mfmp-feedback-options>
        </div>
        <div class="flexrow end">
          <div>
            For H, D, T*, Li, N, O, F, Na, Cl, K, Cr, Br, Rb and I which can
            form Dimers:
          </div>
          <mfmp-feedback-options formControlName="dimersSwitch" label="Dimers">
          </mfmp-feedback-options>
        </div>
      -->

        <div class="flexrow end">
          <div>Order by which the Nuclei table will be presented :</div>
          <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="nuclidesSort"
              placeholder="Nuclei Sort" />
          </mat-form-field>
        </div>
        <div class="flexrow end">
          <div>
            Order by which the Reactions table will be presented :
            <sub>
              <br />
              (for order as tried, clear the box)
            </sub>
          </div>
          <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="reactionSort"
              placeholder="Reaction Sort" />
          </mat-form-field>
        </div>

        <div class="flexrow">
          <div>
            <h3
              matTooltip="(as in Fusion or TwoToTwo programs'
            core queries)">
              Enter your Core Query here:
            </h3>
          </div>
          <div>
            <textarea
              name="coreQuery"
              placeholder="core query"
              formControlName="coreQuery"
              [rows]="4"
              [cols]="30"
              >{{ coreQuery }}</textarea
            >
          </div>
        </div>
        <div class="flexrow end">
          <div></div>
          <div>
            <mat-radio-group formControlName="tableSet" value="Original">
              <mat-label
                matTooltip="{{ tablesMessage }}"
                [matTooltipPosition]="'left'"
                [matTooltipShowDelay]="tooltipDelay">
                <span>
                  <mat-icon [inline]="true" color="primary">info</mat-icon>
                  Table set:
                </span>
              </mat-label>
              <mat-radio-button value="Original" selected>
                Original
              </mat-radio-button>
              <mat-radio-button value="Extended">Extended</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="flexrow">
        <div class="flexrow">
          <h4>Tick the tables you want included in the calculations:</h4>
          <mat-checkbox
            type="checkbox"
            formControlName="leftElements"
            value="left"
            checked="checked">
            E on Left
          </mat-checkbox>
          <mat-checkbox
            type="checkbox"
            formControlName="originalElements"
            value="none"
            checked="checked">
            Original
          </mat-checkbox>
          <mat-checkbox
            type="checkbox"
            formControlName="rightElements"
            value="right"
            checked="checked">
            E on Right
          </mat-checkbox>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="cascadesForm.invalid"
            [matTooltipShowDelay]="tooltipDelay"
            [matTooltipPosition]="'left'"
            matTooltip="{{ patienceMessage }}"
            (click)="submitForm()">
            <span>FIND CASCADES&nbsp;</span>
            <mat-icon [inline]="true" color="white">info</mat-icon>
          </button>
        </div>
      </div>
    </form>
    }
  </mat-card-content>
</mat-card>

<ng-template #controlErrors let-context>
  @if (context.required) {
  <mat-error>Required entry.</mat-error>
  } @else { @if (context.max) {
  <mat-error>Maximum: {{ context.max.max }}</mat-error>
  } @if (context.min) {
  <mat-error>Minimum of {{ context.min.min }}</mat-error>
  } @if (context.pattern) {
  <mat-error>Value must match {{ context.pattern.requiredPattern }}</mat-error>
  } }
</ng-template>

<!-- <ng-template #sliderTemplate let-context="context">
  <mat-slider
    [min]="context.min"
    [max]="context.max"
    [step]="context.step"
    discrete>
    <input
      matInput
      formControlName="context.control"
      ngDefaultControl
      name="value"
      placeholder="thumb"
      matSliderThumb
      #slider />
  </mat-slider>
</ng-template> -->
