<mat-card>
  <mat-card-header>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <h4 class="acenter">
          CascadesAll: Uses the FusionAll and TwoToTwoAll supertables subject to
          neutrino settings
        </h4>
      </mat-expansion-panel-header>
      <h4 class="aceenter">
        Lists all energetically favourable reactions that cascade from both the
        input and the output nuclei from one or more reactions defined by the
        Core (starting) Query.
      </h4>
      <h4 class="acenter">
        To conserve server resources, it will still SAVE all your results on the
        file but only DISPLAY a summary
      </h4>
    </mat-expansion-panel>
    <div class="slidetoggle">
      <mat-slide-toggle
        color="primary"
        labelPosition="before"
        [checked]="mouseEntry()"
        matTooltip="Enabling mouse/touch entry will replace textboxes with sliders on range-bound controls."
        (toggleChange)="sliderChange()">
        Mouse/Touch entry
      </mat-slide-toggle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="cascadesForm">
      <input type="hidden" name="doit" value="execute_query" readonly />
      <div class="grid">
        <!-- Max. nuclei-->
        <div class="flexrow end">
          <div>
            Maximum number of nuclei to be tried in all pairings as inputs to
            both the Fusion and the TwoToTwo reaction tables:
          </div>
          <mfmp-numeric-input
            [method]="mouseEntry() == true ? 'slider' : 'text'"
            [min]="0"
            [max]="1000"
            [controlName]="'maxNuclei'"
            [errorMessages]="errorMessages"
            [initialValue]="maxNuclei"
            (changes)="handleNumericInputs($event)"></mfmp-numeric-input>
        </div>

        <!-- Max. loops-->
        <div class="flexrow end">
          <div>
            Maximum number of loops to be used in the recursion process (too
            many will produce runaway):
          </div>
          <mfmp-numeric-input
            [method]="mouseEntry() == true ? 'slider' : 'text'"
            [min]="0"
            [max]="20"
            [controlName]="'maxLoops'"
            [errorMessages]="errorMessages"
            [initialValue]="maxLoops"
            (changes)="handleNumericInputs($event)"></mfmp-numeric-input>
        </div>

        <!-- Max. reactor temperature -->
        <div class="flexrow end">
          <div>Maximum Reactor Temperature (Kelvin):</div>
          <mfmp-numeric-input
            [method]="mouseEntry() == true ? 'slider' : 'text'"
            [min]="0"
            [max]="10000"
            [controlName]="'maxReactorTemp'"
            [errorMessages]="errorMessages"
            [initialValue]="maxReactorTemp"
            (changes)="handleNumericInputs($event)"></mfmp-numeric-input>
        </div>
        <div class="flexrow end">
          <div>
            LHL [Log10(Half Life in Years)] Threshold, below which nuclides will
            count as a Radioactive Isotopes:
          </div>
          <mfmp-numeric-input
            [method]="mouseEntry() == true ? 'slider' : 'text'"
            [min]="0"
            [max]="20"
            [controlName]="'halfLifeThreshold'"
            [errorMessages]="errorMessages"
            [initialValue]="+halfLifeThreshold"
            (changes)="handleNumericInputs($event)"></mfmp-numeric-input>
        </div>
        <div class="flexrow end">
          <div>Minimum energy (MeV) for any Fusion reaction to be counted:</div>
          <mat-form-field appearance="fill" ngDefaultControl>
            <input
              matInput
              type="number"
              formControlName="fusionMinEnergy"
              placeholder="Minimum fusion energy" />
          </mat-form-field>
        </div>

        <div class="flexrow end">
          <div>
            Minimum energy (MeV) for any TwoToTwo (2-2) reaction to be counted:
          </div>
          <mat-form-field appearance="fill">
            <input
              matInput
              type="number"
              formControlName="twoUpMinEnergy"
              placeholder="Minimum 2-2 energy" />
          </mat-form-field>
        </div>
        <div class="flexrow end">
          <div>
            <label>
              Elements that will NOT have MELTED before reaching the Maximum
              Reactor Temperature:
            </label>
          </div>
          <mat-form-field appearance="fill">
            <!-- <mat-label>Choose an option.</mat-label> -->
            <mat-select
              formControlName="meltingSwitch"
              placeholder="Choose an option.">
              <mat-option
                *ngFor="let option of feedbackOptions"
                [value]="option.value">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flexrow end">
          <div>
            Elements that WILL have BOILED before reaching the Maximum Reactor
            Temperature:
          </div>
          <mat-form-field appearance="fill">
            <mat-select
              formControlName="boilingSwitch"
              placeholder="Choose an option.">
              <mat-option
                *ngFor="let option of feedbackOptions"
                [value]="option.value">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flexrow end">
          <div>Radioactive Isotopes:</div>
          <mat-form-field appearance="fill">
            <mat-label>Choose an option.</mat-label>
            <mat-select formControlName="isotopeSwitch">
              <mat-option
                *ngFor="let option of feedbackOptions"
                [value]="option.value">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flexrow end">
          <div>Nuclear Fermions</div>
          <mat-form-field appearance="fill">
            <mat-label>Choose an option.</mat-label>
            <mat-select formControlName="nuclearFermionSwitch">
              <mat-option
                *ngFor="let option of feedbackOptions"
                [value]="option.value">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flexrow end">
          <div>Atomic Fermions</div>
          <mat-form-field appearance="fill">
            <mat-label>Choose an option.</mat-label>
            <mat-select formControlName="atomicFermionSwitch">
              <mat-option
                *ngFor="let option of feedbackOptions"
                [value]="option.value">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flexrow end">
          <div>
            For H, D, T*, Li, N, O, F, Na, Cl, K, Cr, Br, Rb and I which can
            form Dimers:
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Choose an option.</mat-label>
            <mat-select formControlName="dimersSwitch">
              <mat-option
                *ngFor="let option of feedbackOptions"
                [value]="option.value">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flexrow end">
          <div>Order by which the Nuclei table will be presented :</div>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="text"
              formControlName="nuclidesSort"
              placeholder="Nuclei Sort" />
          </mat-form-field>
        </div>
        <div class="flexrow end">
          <div>
            Order by which the Reactions table will be presented :
            <sub>
              <br />
              (for order as tried, clear the box)
            </sub>
          </div>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="text"
              formControlName="reactionSort"
              placeholder="Reaction Sort" />
          </mat-form-field>
        </div>

        <div class="flexrow">
          <div>
            <h3
              matTooltip="(as in Fusion or TwoToTwo programs'
            core queries)">
              Enter your Core Query here:
            </h3>
          </div>
          <div>
            <textarea
              placeholder="core query"
              formControlName="coreQuery"
              [rows]="4"
              [cols]="30"
              >{{ coreQuery }}</textarea
            >
          </div>
        </div>
        <div class="flexrow end">
          <div></div>
          <div>
            <mat-radio-group formControlName="tableSet" value="Original">
              <mat-label
                matTooltip="Choose the working Fusion and 2-2 set of tables between the
              Original (Parkhomov, MeV > 0.0: FusionAll and TwoToTwoAll) and the
              Extended (MeV = +/- 0.0: FusionAllPlus and TwoToTwoAllPlus). (note
              that either set will use the NuclidesPlus and the ElementsPlus
              reference tables)"
                [matTooltipPosition]="'left'">
                Table set:
              </mat-label>
              <mat-radio-button value="Original" selected>
                Original
              </mat-radio-button>
              <mat-radio-button value="Extended">Extended</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="acenter">
        <div>
          <h4>Tick the tables you want included in the calculations</h4>
        </div>
        <div>
          <mat-checkbox
            type="checkbox"
            formControlName="leftElements"
            value="left"
            checked="checked">
            E on Left
          </mat-checkbox>
          <mat-checkbox
            type="checkbox"
            formControlName="originalElements"
            value="none"
            checked="checked">
            Original
          </mat-checkbox>
          <mat-checkbox
            type="checkbox"
            formControlName="rightElements"
            value="right"
            checked="checked">
            E on Right
          </mat-checkbox>
        </div>
      </div>
      <div class="flexrow end">
        <button
          mat-raised-button
          color="primary"
          type="button"
          matTooltip="NB: This program may take up to 20 minutes to run - be patient. BUT, even if it eventually shows an error message, still check out the All Results page: the answer file (check dates and times) may yet be there and complete."
          (click)="submitForm()">
          FIND CASCADES
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
