.mat-mdc-card {
    height: 100%;
}
.mat-mdc-card-header {
    margin-bottom: 1em;
}
div.slidetoggle {
    padding-left: 1em;
}
div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 1em;
}
div.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.flexrow.end {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    :first-child {
        padding-right: 1em;
    }
}
div.flexcolumn.end {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    align-items:flex-end;
    text-align: center;
}
.acenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* .mat-mdc-form-field {
    width: 16em !important;
} */
mat-slider {
    margin-right: 1em;
}
textarea {
    width: 30em;
}
