<mat-card>
  <mat-card-content>
    <div></div>
    <form>
      <div>
        <input
          placeholder="elements"
          matInput
          value="{{elements}}"
          (change)="setElements($event)"/>
      </div>
      <div>
        <mat-radio-group name="layout" [(ngModel)]="layout">
          <mat-radio-button value="column" selected="layout == 'column'">
            Vertical
          </mat-radio-button>
          <mat-radio-button value="row" selected="layout == 'row'">
            Horizontal
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <pre>{{ layout }}</pre>
      </div>
      <mfmp-slider-input
        [minimum]="1"
        [maximum]="100"
        [step]="1"
        [default]="34"
        [label]="'myControl'"
        [controlName]="'myControl'"
        [layout]="layout"
        [elements]="elements"
        (sliderValue)="handleSliderChange($event)"></mfmp-slider-input>
      <div>{{ myControl }}</div>
    </form>
  </mat-card-content>
</mat-card>
