ul {
    text-decoration: none;
    list-style: none;
}
.mat-mdc-card {
    height: 100%;
}
.mat-mdc-card-content {
    margin-left: 1em;
    height: 100%;
}
div.wrapper {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: stretch;
}
div.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}
div.form {
    border: 1px solid red;
}
div.results {

    textarea {
        margin: auto;
    }
}
mat-error.mat-mdc-form-field-error {
    color: red;
    font-size: 16px;
}