<mat-card>
  <mat-card-content>
    <div class="flexrow">
      <div>Dimers</div>
      <div>
        <pre>{{ this.getControl('dimersSwitch') }}</pre>
      </div>
    </div>
    @if(ready()) {
    <div>
      <div [formGroup]="form">
        <div class="flexrow end">
          <div>
            For H, D, T*, Li, N, O, F, Na, Cl, K, Cr, Br, Rb and I which can
            form Dimers:
          </div>
          <mfmp-feedback-options
            formControlName="dimersSwitch"
            label="Dimers"></mfmp-feedback-options>
        </div>
        <button
          matButton
          type="submit"
          [disabled]="form.invalid || form.pristine">
          SUBMIT
        </button>
      </div>
    </div>
  }
  </mat-card-content>
</mat-card>
