/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/ukraine.scss';
@import '/src/ukraine.scss';
/*
@at-root
@at-root
*/
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
mfmp-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
