<div #slider [class]="setClass()">
  @for(divType of elements; track divType) {
    @switch(divType) {
      @case('label') {
        <div>
          <mat-label>{{label}}</mat-label>
        </div>
      }
      @case('slider') {
        <mat-slider
        [min]="minimum"
        [max]="maximum"
        [step]="step"
        showTickMarks="true"
        discrete>
        <input
          placeholder="thumb"
          matSliderThumb
          [(ngModel)]="value" />
      </mat-slider>
      }
      @case('value') {
        <div>{{value}}</div>
      }
      @default {
        <h3>Unrecognized sliderElement: {{divType}}</h3>
      }
    }
  }
</div>
